* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

:root {
    --green-100: #f3f9fa;
    --green-200: #c5e4e7;
    --green-300: #9ebbbd;
    --green-400: #7f9d9f;
    --green-500: #5e7a7d;
    --green-600: #547878;
    --green-700: #3d6666;
    --green-800: #00474b;
    --light-green: #26c2ae;
    --green-hover: #9fe8df;
    --white: #ffffff;
    --danger: #e17457
}

.bill input::-webkit-inner-spin-button,
.people input::-webkit-inner-spin-button,
.tip #other::-webkit-inner-spin-button {
    display: none;
}

body {
    background-color: var(--green-200);
}

header {
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main {
    border-radius: 1.5625rem 1.5625rem 0 0 ;
    background-color: var(--white);
    padding: 2rem;
}

.bill label, 
.tip label,
.people label {
    color: var(--green-500);
    font-weight: 700;
}

.bill div,
.people .input-box {
    margin-top: 0.4rem;
    background-color: var(--green-100);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;
    margin-bottom: 2rem;
}

.bill input,
.people input {
    border: none;
    text-align: right;
    width: 100%;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--green-800);
    outline: none;
}

.bill input::placeholder,
.people input::placeholder {
    color: var(--green-300);
}

.bill:has(input:focus) div,
.bill:has(input:hover) div,
.people:has(input:focus) .input-box,
.people:has(input:hover) .input-box,
.tip #other:focus,
.tip #other:hover {
    outline: 2px solid var(--light-green);
    cursor: pointer;
}

.tip div {
    margin-top: 1rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;

}

.tip input {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    padding-block: 0.4rem;
    border-radius: 0.3125rem;
    background-color: var(--green-800);
    color: var(--white);
}

.tip input[type="button"]:hover,
.results button:hover {
    background-color: var(--green-hover);
    cursor: pointer;
}

.tip #other {
    background-color: var(--green-100);
    width: 100%;
    color: var(--green-500);
}

.tip #other::placeholder {
    color: var(--green-300);
}

.people .people-error {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.people #error-div {
    outline: 2px solid var(--danger);
}

.people #error {
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--danger);
    display: none;
}

.results {
    background-color: var(--green-800);
    border-radius: 0.9375rem;
    padding: 1.5rem;
}

.results div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.results div > strong {
    color: var(--light-green);
    font-size: 2rem;
}

.results p {
    color: var(--green-400);
    font-size: 0.8125rem;
}

.results p strong {
    color: var(--white);
    font-size: 1rem;

}

.results .tip-total {
    margin-bottom: 1.25rem;
}

.results .total {
    margin-bottom: 2rem;
}

.results button {
    width: 100%;
    background-color: var(--light-green);
    border: none;
    border-radius: 0.3125rem;
    color: var(--green-800);
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-block: 0.5rem ;
    cursor: pointer;
}

@media(min-width: 920px) {
    header {
        padding-block: 3rem;
    }

    main {
        display: flex;
        gap: 3rem;
        padding: 3rem;
        border-radius: 1.5625rem;
        max-width: 55.5rem;
        margin-inline: auto;
    }

    main section {
        width: 100%;
    }

    .tip div {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 2.5rem;
    }
}